# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
venv/
.env/
scrapy_env/

# environment variables
.env

# data output
data/
*.json
*.jl
*.gz

# logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
